GROQ_API_KEY = sua_key_groq


# Modelos de embedding testados:
# sentence-transformers/all-MiniLM-L6-v2
# Qwen/Qwen3-Embedding-0.6B

EMBED_MODEL_ID = Qwen/Qwen3-Embedding-0.6B
GEN_MODEL_ID = llama-3.1-8b-instant

# Documents

DOCUMENTS_DIR = document_storage
OUTPUT_DOCS_FILE = processed_docs.pkl
FAISS_INDEX_PATH = faiss_index


# API
API_KEY=123
LOG_LEVEL=INFO