# LangChain e extensões
langchain>=0.1.0
langchain-core>=0.1.0
langchain-huggingface>=0.1.0
langchain_milvus>=0.1.0
langchain_groq>=0.1.0
langchain-docling>=0.1.0
langchain_community
nltk>=3.8.1
sentence-transformers>=2.2.2
faiss-cpu
nltk
spire-doc
Spire.Doc
pypdf
fpdf2


# Interface web
streamlit>=1.32.0